<div class="modal-header">
  <h3 class="modal-title">Decisions decisions!</h3>
</div>
<div class="modal-body">
  <span ng-repeat="option in options">
    <label ng-if="option.enabled"><input type="radio" name="choice" ng-click="choose(option.index)" value={{option.index}}></input>{{option.desc}}</label>
    <label ng-if="!option.enabled"><strike>{{option.desc}}</strike></label>
    <br/>
  </span>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
<!--  <button class="btn btn-warning" ng-click="cancel()">Cancel</button> -->
</div>
